@import "variables";

* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1400px;
  margin: auto;
}
nav {
  position: relative;
  display: flex;
  height: 72px;
  background: black;
  color: aliceblue;
  align-items: center;
  justify-content: end;

  position: fixed;
  top: 0;
  /* left: 0;*/
  width: 100%;
  max-width: 1400px;
  overflow: hidden;
  z-index: 1;
  .navdiv {
    width: 50%;
    display: flex;
    justify-content: space-between;

    a {
      color: aliceblue;
      text-decoration: none;
      font-family: $font;
      font-size: 14px;
    }
  }
  i {
    padding: 20px;
  }

  .navimg {
    width: 150px;
    height: 60px;
    background-image: url($navimg-photo);
    position: absolute;
    /*position: fixed;*/
    left: 100px;
    background-repeat: no-repeat;
  }
}
.article {
  width: 100%;
  height: 640px;
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(
      rgba(28, 28, 28, 0.63),
      rgba(28, 28, 28, 0.63)
    ),
    url($backsld1-photo);
  background-position: center;
  align-items: center;
  justify-content: center;
  padding-top: 50px;

  .articlecontent {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    height: 425px;
    color: aliceblue;

    .articleimg {
      background-image: url($articleimg-photo);
      background-repeat: no-repeat;
      /*position: absolute;*/
      width: 270px;
      height: 108px;
      margin-bottom: 20px;
    }
    h2 {
      font-family: $font;
      padding: 20px 0px 30px 0px;
      font-size: 36px;
      max-width: 425px;
    }
    p {
      font-family: $font;
      font-size: 16px;
      max-width: 651px;
    }
  }

  .inputfrm {
    display: flex;
    flex-direction: column;
    /*max-width: 360px;*/
    width: 360px;
    min-width: 360px;
    height: 425px;
    margin-left: 70px;

    .inpsld1top {
      width: 100%;
      height: 57px;
      border-radius: 5px 5px 0px 0px;
      background-color: #f5f5f5;
      font-family: $font;
      font-size: 20px;
      font-weight: bolder;
      text-align: center;
      line-height: 54px;
      span {
        color: red;
      }
    }
    .inputfrmsld8 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 360px;

      /*width: 390px;
    min-width: 360px;*/
      height: 450px;
      background-color: white;
      margin: auto;
      border-radius: 0px 0px 5px 5px;
      padding-top: 30px;
      p {
        width: 280px;
        padding-bottom: 20px;
        font-family: $font;
        font-weight: 700;
      }
      .formtab17 {
        width: 100%;
        height: 200px;
        /*background-color: white;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1px;

        input {
          width: 75%;
          border: none;
          border-bottom: 2px solid rgba(28, 28, 28, 0.6);
          height: 40px;
          font-family: $font;
          font-size: 12px;
        }
      }
      .inputs {
        display: flex;
        width: 300px;
        align-items: center;
        justify-content: left;
        font-family: $font;
        margin-bottom: 30px;
        font-size: 9px;
        font-weight: 600;

        input {
          appearance: none;
          width: 15px;
          height: 15px;
          border: 1px solid #41d395;
          border-radius: 50%;
          margin: 5px;

          position: relative;
        }

        input:before {
          position: absolute;
          top: 45%;
          left: 45%;
          content: "";
          width: 0%;
          height: 0%;
          background: #41d395;
          border-radius: 50%;
          transition: 1s;
        }

        input:checked:before {
          top: 23%;
          left: 28%;
          width: 50%;
          height: 50%;
        }

        input:checked {
          color: #41d395;
        }
      }

      button {
        width: 100%;
        height: 50px;
        background-color: #41d395;
        font-family: $font;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        line-height: 40px;
        border: none;
        border-radius: 0px 0px 5px 5px;
        color: white;
      }
      button:hover {
        cursor: pointer;
        opacity: 0.8;
        font-weight: bold;
      }
    }
  }
}
.social {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  height: 100px;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 1px 3px #00000061;
  .linkai {
    width: 400px;
    align-items: center;
    justify-items: center;
    margin-top: 10px;
    font-size: 13px;
    padding-left: 152px;
    font-family: $font;
    h2 {
      font-size: 24px;
      font-weight: 500;
      color: #333333;
    }
    p {
      padding-top: 10px;
      font-size: 14px;
      color: #86878b;
    }
  }
  .socnet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 550px;
    height: 100%;
    margin-right: 50px;
    margin-left: 10px;
    .Img {
      height: 30px;
      width: 25px;
      background-repeat: no-repeat;
      background-size: contain;
      &.Social1 {
        background-image: url($fbsld2-photo);
      }
      &.Social2 {
        background-image: url($instasld2-photo);
      }
      &.Social3 {
        background-image: url($twsld2-photo);
      }
      &.Social4 {
        background-image: url($pintbsld2-photo);
      }
    }
  }
}
.features {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 595px;
  background-image: linear-gradient(
      270deg,
      rgba(102, 150, 226, 0.42),
      rgba(226, 120, 102, 0.42)
    ),
    url($backsld3-photo);
  background-position: bottom;
  align-items: center;
  justify-content: space-around;

  .butsld3left {
    display: flex;
    flex-direction: column;
    width: 105px;
    height: 330px;
    margin-left: 50px;
    justify-content: space-between;
    font-family: $font;
    text-transform: uppercase;
    color: white;
  }

  .tab1,
  .tab2,
  .tab3 {
    width: 100px;
    height: 100px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
    .txtrot {
      padding-top: 40px;
      rotate: -45deg;
      font-size: 14px;
    }
  }
  .tab1:hover,
  .tab2:hover,
  .tab3:hover {
    background-color: #a37169;
    transition: 1s;
    box-shadow: 0px 5px 8px rgba(51, 28, 28, 0.5);
    filter: drop-shadow(0px 5px 5px rgb(192, 107, 50));
  }
  .textsld3center {
    width: 517px;
    height: 300px;
    color: white;
    font-family: $font;
    font-size: 14px;
    p {
      padding-top: 40px;
    }
    h1 {
      font-size: 36px;
      font-weight: 500;
    }
  }

  .butsld3right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
    height: 350px;
    margin-right: 50px;
    justify-content: space-between;
  }

  .tab4,
  .tab5 {
    width: 168px;
    height: 168px;

    box-shadow: 0px 3px 6px #00000029;
  }
  .tab4 {
    background-image: url($tab4-photo);
    background-size: cover;
    text-align: center;
    h3 {
      color: white;
      margin-top: 65px;
      font-family: $font;
      font-size: 24px;
      font-weight: 500;
      transition: 0.3s;
    }
  }
  .tab5 {
    background-image: url($tab5-photo);
    background-size: cover;
  }
  .tab6 {
    height: 168px;
    width: 370px;
    background-image: url($tab6-photo);
    background-size: cover;
    box-shadow: 0px 3px 6px #00000029;
  }
  .tab4:hover,
  .tab5:hover,
  .tab6:hover {
    transition: 1s;
    box-shadow: 0px 5px 8px rgba(51, 28, 28, 0.5);
    cursor: url($cursor1-photo), pointer;
    filter: sepia(1);
    color: white;
    h3 {
      font-weight: 600;
    }
  }
}
.about {
  width: 100%;
  height: 595px;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: row;
  align-items: center;

  .sld4left {
    width: 55%;
    height: 100%;
    background-image: url($articleimg-photo);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 389px 169px;
  }
  .sld4right {
    width: 45%;
    height: 80%;

    color: white;
    font-family: $font;
    font-size: 14px;
    padding-right: 180px;

    .tab7 {
      padding-bottom: 30px;
      p {
        font-size: 30px;
        font-weight: 600;
        width: 320px;
      }
    }
    .tab7 hr {
      margin-top: 30px;
      width: 200px;
      height: 2px;
      background: #e27866;
    }
    .tab8 {
      padding: 30px 30px 30px 0px;
    }
    .tab9 {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding: 30px 30px 30px 0px;
    }
    .circletab {
      height: 50px;
      width: 50px;
      border-radius: 25px;
      background: #e27866;
      margin-left: 5px;
      flex-shrink: 0;
      margin-right: 20px;
    }

    .tab10 {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding: 30px 30px 30px 0px;
    }
  }
}

.why {
  width: 100%;
  height: 595px;
  box-shadow: 0px 1px 3px #00000061;
  .tab11 {
    width: 100%;
    height: 30%;
    line-height: 80px;
    font-family: $font;

    h3 {
      font-size: 36px;
      text-align: center;
      /*margin-top: 20px;*/
      padding-top: 20px;
      font-weight: 500;
    }
    hr {
      margin-top: 1px;
      width: 64px;
      height: 2px;
      background: #e27866;
      margin-left: 48%;
    }
    p {
      font-size: 18px;
      text-align: center;
    }
  }

  .Points {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 100%;
    height: 55%;
    flex-direction: row;

    font-family: $font;

    div {
      display: flex;
      flex-direction: column;
      max-width: 210px;
      height: 60%;
      /*border: 3px solid red;*/
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    p {
      text-align: center;
      font-size: smaller;
      /*padding: 5px;*/
    }
    .circletab {
      height: 50px;
      width: 50px;
      border-radius: 25px;
      border: 3px solid #e27866;

      margin-left: 5px;
      flex-shrink: 0;
      margin-right: 20px;
    }
    .crcl1 {
      background-image: url($rew-photo);
      background-repeat: no-repeat;
      background-position: center;
    }
    .crcl2 {
      background-image: url($flw-photo);
      background-repeat: no-repeat;
      background-position: center;
    }
    .crcl3 {
      background-image: url($visa-photo);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
.pricing {
  width: 100%;
  height: 883px;

  background-color: #6696e2;

  .tab13 {
    width: 100%;
    height: 25%;

    line-height: 80px;
    font-family: $font;
    color: white;

    h3 {
      font-size: 36px;
      text-align: center;
      padding-top: 20px;
      font-weight: 500;
    }
    hr {
      margin-top: 1px;
      width: 64px;
      height: 2px;
      background: white;
      margin-left: 48%;
    }
    p {
      font-size: 18px;
      text-align: center;
    }
  }

  .tab14 {
    display: flex;
    height: 550px;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 5px auto;

    .box {
      width: 345px;
      text-align: center;
      font-family: $font;
      font-size: 1em;
      min-width: 150px;

      .blck {
        height: 220px;
        width: 100%;
        background-color: #333333;
        border-radius: 6px 6px 0px 0px;
        h1 {
          color: white;
          padding: 20px 5px 0px 5px;
          font-size: 24px;
          font-weight: 500;
        }
        span {
          font-size: 40px;
          font-weight: 300;
        }
        h3 {
          font-size: 94px;
          font-weight: 200;
          padding: 5px 5px 0px 5px;
          color: white;
        }
        p {
          padding: 10px 5px 0px 5px;
          color: #ffffff;
          opacity: 0.5;
        }
      }
      .grn {
        height: 8px;
        width: 100%;
        background-color: #41d395;
      }
      .grnpro {
        height: 40px;
        width: 100%;
        background-color: #41d395;
        color: white;
        line-height: 40px;
      }
      .wht {
        height: 280px;
        width: 100%;
        background-color: white;
        border-radius: 0px 0px 6px 6px;
        p {
          padding: 20px 5px 0px 5px;
        }
      }
    }
  }
}

.review {
  width: 100%;
  height: 595px;
  box-shadow: 0px 1px 3px #00000061;

  .tab15 {
    width: 100%;
    height: 25%;
    padding-top: 40px;
    padding-bottom: 30px;
    line-height: 80px;
    font-family: $font;

    h3 {
      font-size: 36px;
      text-align: center;
      padding-top: 30px;
      font-weight: 500;
    }
    hr {
      margin-top: 20px;
      width: 64px;
      height: 2px;
      background: #6696e2;
      margin-left: 48%;
    }
  }

  .swiper {
    max-width: 100%;
    padding-left: 100px;

    .swiper-slide {
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 236px;
      justify-content: flex-end;
      transition: 0.3s;
      /* margin-right: 20px;*/
      padding-bottom: 30px;
      .chat {
        width: 273px;
        p {
          max-width: 90%;
          color: white;
          font-family: $font;
          text-align: left;
          background: rgb(39, 145, 231);
          border-radius: 20px 20px 20px 20px;
          padding: 20px 20px 20px 20px;
          margin: auto;
        }
      }
      .avatbox {
        width: 220px;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;

        .avatimg {
          width: 70px;
          height: 70px;
          background-image: url($avatimgs-photo);
          background-repeat: no-repeat;
        }
        .avatimg::before {
          position: absolute;
          content: "";
          border: 30px solid transparent;
          top: 118px;
          border-top: 30px solid rgb(39, 145, 231);
        }
        .avattxt {
          width: 130px;
          height: 100%;
          padding-left: 20px;
          padding-top: 10px;
          color: #333333;
          font-family: $font;
          h2 {
            font-size: 24px;
            font-weight: 500;
          }
        }
      }
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
      color: #6696e2;
      transition: 0.3s;
    }
    .swiper-button-prev:hover:after,
    .swiper-button-next:hover:after {
      text-shadow: 0 0 5px rgb(236, 231, 231);
      font-size: 3em;
    }
    .swiper-pagination {
      bottom: 0px !important;
      padding-top: 50px;
    }
    .swiper-pagination-bullet {
      border: 2px solid #be6555fa;
      opacity: 1;
      background: white;
    }
    .swiper-pagination-bullet-active {
      background: #6696e2;
      border: 2px solid #e27866;
      transform: scale(1.2);
    }
  }
}

.contacts {
  width: 100%;
  height: 573px;
  background-color: #e27866;
  justify-content: center;

  .tab17 {
    width: 100%;
    height: 25%;
    color: white;
    line-height: 80px;
    font-family: $font;

    h3 {
      font-size: 36px;
      text-align: center;
      padding-top: 40px;
      font-weight: 500;
    }

    p {
      font-size: 14px;
      text-align: center;
      line-height: 20px;
    }
  }
  .inputfrmsld8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*max-width: 360px;*/
    width: 390px;
    min-width: 360px;
    height: 300px;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;

    .formtab17 {
      width: 100%;
      height: 200px;
      /*background-color: white;*/
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 10px;

      input {
        width: 75%;
        border: none;
        border-bottom: 2px solid rgba(28, 28, 28, 0.6);
        height: 40px;
        font-family: $font;
        font-size: 12px;
      }
    }
    .inputs {
      display: flex;
      width: 300px;
      align-items: center;
      justify-content: left;
      font-family: $font;
      margin-bottom: 30px;
      font-size: 9px;
      font-weight: 600;

      input {
        appearance: none;
        width: 15px;
        height: 15px;
        border: 1px solid #41d395;
        border-radius: 50%;
        margin: 5px;

        position: relative;
      }

      input:before {
        position: absolute;
        top: 45%;
        left: 45%;
        content: "";
        width: 0%;
        height: 0%;
        background: #41d395;
        border-radius: 50%;
        transition: 1s;
      }

      input:checked:before {
        top: 23%;
        left: 28%;
        width: 50%;
        height: 50%;
      }

      input:checked {
        color: #41d395;
      }
    }

    button {
      width: 40%;
      height: 50px;
      background-color: #41d395;
      font-family: $font;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      line-height: 40px;
      border-radius: 10px;
      color: white;
      margin-bottom: 20px;
    }
  }
}

.social2 {
  background: #1c1c1c;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  height: 124px;
  justify-content: space-between;
  .linkai {
    width: 400px;
    align-items: center;
    justify-items: center;
    margin-top: 45px;
    font-size: 13px;
    padding-left: 30px;

    p {
      font-size: 20px;
      opacity: 0.6;
      color: rgba(255, 255, 255, 0.5);
      font-family: $font;
    }
  }
  .socnet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 100%;
    margin-right: 50px;
    margin-left: 100px;
    .Img {
      height: 20px;
      width: 20px;
      background-repeat: no-repeat;
      background-size: contain;
      &.Social1 {
        background-image: url($fbs-photo);
      }
      &.Social2 {
        background-image: url($instas-photo);
      }
      &.Social3 {
        background-image: url($tws-photo);
      }
      &.Social4 {
        background-image: url($pints-photo);
      }
    }
  }
}
