@import "variables";

* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1400px;
  margin: auto;
}
nav {
  position: relative;
  display: flex;
  height: 72px;
  background: black;
  color: aliceblue;
  align-items: center;
  justify-content: end;

  position: fixed;
  top: 0;
  /* left: 0;*/
  width: 100%;
  max-width: 1400px;
  overflow: hidden;
  z-index: 1;
  .navdiv {
    width: 50%;
    display: flex;
    justify-content: space-between;

    a {
      color: aliceblue;
      text-decoration: none;
      font-family: Montserrat;
      font-size: 14px;
    }
  }
  i {
    padding: 20px;
  }

  .navimg {
    width: 150px;
    height: 60px;
    background-image: url($navimg-photo);
    position: absolute;
    /*position: fixed;*/
    left: 100px;
    background-repeat: no-repeat;
  }
}
.article {
  width: 100%;
  height: 640px;
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(
      rgba(28, 28, 28, 0.63),
      rgba(28, 28, 28, 0.63)
    ),
    url($backsld1-photo);
  background-position: center;
  align-items: center;
  justify-content: center;
  padding-top: 50px;

  .articlecontent {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    height: 425px;
    color: aliceblue;

    .articleimg {
      background-image: url($articleimg-photo);
      background-repeat: no-repeat;
      /*position: absolute;*/
      width: 270px;
      height: 108px;
      margin-bottom: 20px;
    }
    h2 {
      font-family: montserrat;
      padding: 20px 0px 30px 0px;
      font-size: 36px;
      max-width: 425px;
    }
    p {
      font-family: montserrat;
      font-size: 16px;
      max-width: 651px;
    }
  }

  .inputfrm {
    display: flex;
    flex-direction: column;
    /*max-width: 360px;*/
    width: 360px;
    min-width: 360px;
    height: 425px;
    margin-left: 70px;

    .inpsld1top {
      width: 100%;
      height: 57px;
      border-radius: 5px 5px 0px 0px;
      background-color: #f5f5f5;
      font-family: montserrat;
      font-size: 20px;
      font-weight: bolder;
      text-align: center;
      line-height: 54px;
    }
    .inputfrmsld8 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 360px;
      /*width: 390px;
    min-width: 360px;*/
      height: 450px;
      background-color: white;
      margin: auto;
      border-radius: 0px 0px 5px 5px;
      padding-top: 30px;
      p {
        width: 280px;
        padding-bottom: 20px;
        font-family: montserrat;
        font-weight: 700;
      }
      .formtab17 {
        width: 100%;
        height: 200px;
        /*background-color: white;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1px;

        input {
          width: 75%;
          border: none;
          border-bottom: 2px solid rgba(28, 28, 28, 0.6);
          height: 40px;
          font-family: montserrat;
          font-size: 12px;
        }
      }
      .inputs {
        display: flex;
        width: 300px;
        align-items: center;
        justify-content: left;
        font-family: montserrat;
        margin-bottom: 30px;
        font-size: 9px;
        font-weight: 600;

        input {
          appearance: none;
          width: 15px;
          height: 15px;
          border: 1px solid #41d395;
          border-radius: 50%;
          margin: 5px;

          position: relative;
        }

        input:before {
          position: absolute;
          top: 45%;
          left: 45%;
          content: "";
          width: 0%;
          height: 0%;
          background: #41d395;
          border-radius: 50%;
          transition: 1s;
        }

        input:checked:before {
          top: 23%;
          left: 28%;
          width: 50%;
          height: 50%;
        }

        input:checked {
          color: #41d395;
        }
      }

      button {
        width: 100%;
        height: 50px;
        background-color: #41d395;
        font-family: montserrat;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        line-height: 40px;
        border: none;
        border-radius: 0px 0px 5px 5px;
        color: white;
      }
      button:hover {
        cursor: pointer;
        opacity: 0.8;
        font-weight: bold;
      }
    }
  }
}
.social {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  height: 100px;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 1px 3px #00000061;
  .linkai {
    width: 400px;
    align-items: center;
    justify-items: center;
    margin-top: 10px;
    font-size: 13px;
    padding-left: 152px;
    font-family: montserrat;
    h2 {
      font-size: 24px;
      font-weight: 500;
      color: #333333;
    }
    p {
      padding-top: 10px;
      font-size: 14px;
      color: #86878b;
    }
  }
  .socnet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 550px;
    height: 100%;
    margin-right: 50px;
    margin-left: 10px;
    .Img {
      height: 30px;
      width: 25px;
      background-repeat: no-repeat;
      background-size: contain;
      &.Social1 {
        background-image: url($fbsld2-photo);
      }
      &.Social2 {
        background-image: url($instasld2-photo);
      }
      &.Social3 {
        background-image: url($twsld2-photo);
      }
      &.Social4 {
        background-image: url($pintbsld2-photo);
      }
    }
  }
}
.features {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 595px;
  border: 2px solid red;
  background-image: linear-gradient(
      270deg,
      rgba(102, 150, 226, 0.42),
      rgba(226, 120, 102, 0.42)
    ),
    url($backsld3-photo);
  background-position: bottom;
  align-items: center;
  justify-content: space-around;

  .butsld3left {
    display: flex;
    flex-direction: column;
    width: 105px;
    height: 330px;

    margin-left: 50px;
    justify-content: space-between;
  }

  .tab1,
  .tab2,
  .tab3 {
    width: 100px;
    height: 100px;

    background-color: #a37169;
  }

  .textsld3center {
    width: 517px;
    height: 300px;
    border: 2px solid red;
    color: white;
    font-family: Montserrat;
  }

  .butsld3right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
    height: 350px;
    /*border: 2px solid red;*/
    margin-right: 50px;
    justify-content: space-between;
  }

  .tab4,
  .tab5 {
    width: 168px;
    height: 168px;
    /*border: 2px solid red;*/
    box-shadow: 0px 3px 6px #00000029;
  }
  .tab4 {
    background-image: url(/app/Images/tab4.png);
    background-size: cover;
  }
  .tab5 {
    background-image: url(/app/Images/tab5.png);
    background-size: cover;
  }
  .tab6 {
    height: 168px;
    width: 370px;
    /*border: 2px solid red;*/
    background-image: url(/app/Images/tab6.png);
    background-size: cover;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
  }
}
.about {
  width: 100%;
  height: 595px;

  background-color: #1c1c1c;
  display: flex;
  flex-direction: row;
  align-items: center;

  .sld4left {
    width: 55%;
    height: 100%;

    background-image: url(/app/Images/cheshire-county-hygiene-services@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 389px 169px;
  }
  .sld4right {
    width: 45%;
    height: 80%;

    color: white;
    font-family: montserrat;
    font-size: 14px;
    padding-right: 180px;

    .tab7 {
      padding-bottom: 30px;
      p {
        font-size: 30px;
        font-weight: 600;
        width: 320px;
      }
    }
    .tab7 hr {
      margin-top: 30px;
      width: 200px;
      height: 2px;
      background: #e27866;
    }
    .tab8 {
      padding: 30px 30px 30px 0px;
    }
    .tab9 {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding: 30px 30px 30px 0px;
    }
    .circletab {
      height: 50px;
      width: 50px;
      border-radius: 25px;
      background: #e27866;
      margin-left: 5px;
      flex-shrink: 0;
      margin-right: 20px;
    }

    .tab10 {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding: 30px 30px 30px 0px;
    }
  }
}

.why {
  width: 100%;
  height: 595px;
  .tab11 {
    width: 100%;
    height: 30%;

    line-height: 80px;
    font-family: montserrat;

    h3 {
      font-size: 36px;
      text-align: center;
      margin-top: 20px;
      font-weight: 500;
    }
    hr {
      margin-top: 1px;
      width: 64px;
      height: 2px;
      background: #e27866;
      margin-left: 48%;
    }
    p {
      font-size: 18px;
      text-align: center;
    }
  }

  .Points {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 100%;
    height: 55%;
    flex-direction: row;

    font-family: montserrat;

    div {
      display: flex;
      flex-direction: column;
      max-width: 210px;
      height: 60%;
      /*border: 3px solid red;*/
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    p {
      text-align: center;
      font-size: smaller;
      /*padding: 5px;*/
    }
    .circletab {
      height: 50px;
      width: 50px;
      border-radius: 25px;
      background: #e27866;
      margin-left: 5px;
      flex-shrink: 0;
      margin-right: 20px;
    }
  }
}
.pricing {
  width: 100%;
  height: 883px;
  border: 2px solid red;
  background-color: #6696e2;

  .tab13 {
    width: 100%;
    height: 25%;

    line-height: 80px;
    font-family: montserrat;
    color: white;

    h3 {
      font-size: 36px;
      text-align: center;
      margin-top: 20px;
      font-weight: 500;
    }
    hr {
      margin-top: 1px;
      width: 64px;
      height: 2px;
      background: #41d395;
      margin-left: 48%;
    }
    p {
      font-size: 18px;
      text-align: center;
    }
  }

  .tab14 {
    display: flex;
    max-width: 100%;
    justify-content: space-evenly;
    align-items: center;
    /*border: 3px solid black;*/
    margin: 5px auto;

    .box {
      width: 25%;
      background: rgba(243, 244, 245, 0.4);
      text-align: center;
      font-family: Montserrat;
      font-size: 1em;
      padding: 10px;
      min-width: 150px;
    }
    h1 {
      margin-top: 50px;
      text-shadow: 2px 2px #3a3333;
      color: white;
    }
    h3 {
      margin-top: 30px;
      font-size: 50px;
      font-family: "Times New Roman", Times, serif;
    }
    p {
      margin: 30px 5px 10px 5px;
    }
    hr {
      width: 80%;
      margin: auto;
    }
  }
}
/*@media (max-width: 700px) {
  h1,
  h3 {
    color: red;
    font-size: 25px;
  }
  .box {
    font-size: 1em;
    margin-top: 20px;
  }
}
@media (max-width: 500px) {
  .container {
    display: flex;
    /*flex-wrap: wrap;*/
/*    flex-direction: column;
    justify-content: space-between;*/

.review {
  width: 100%;
  height: 595px;
  border: 2px solid red;

  .tab15 {
    width: 100%;
    height: 25%;

    line-height: 80px;
    font-family: montserrat;

    h3 {
      font-size: 36px;
      text-align: center;
      margin-top: 20px;
      font-weight: 500;
    }
    hr {
      margin-top: 1px;
      width: 64px;
      height: 2px;
      background: #6696e2;
      margin-left: 48%;
    }
  }

  .swiper {
    max-width: 100%;

    /*border: 2px solid red;*/

    .swiper-slide {
      height: 300px;
      width: 200px;
      align-items: center;
      border: 2px solid red;
      background: rgb(209, 134, 149);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3em;
      text-shadow: 0 0 5px black;
      transition: 0.3s;

      .SQRE {
        display: flex;
        flex-direction: column;
        width: 210px;
        aspect-ratio: 4/3;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;

        p {
          text-align: center;
          font-size: 15px;
          opacity: 0.6;
        }
        h3 {
          text-align: center;
        }
      }

      .swiper-slide:hover {
        box-shadow: 0 0 10px 2px rgb(170, 159, 159);
        transform: scale(0.95);
      }

      .swiper-slide:nth-of-type(1) {
        /*background: url("https://images.unsplash.com/photo-1453032037654-1f17dd472a6c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");*/
        background-size: cover;
        background-position: center;
      }

      .swiper-slide:nth-of-type(2) {
        /*background: url("https://images.unsplash.com/photo-1561349843-051d0273f702?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");*/
        background-size: cover;
        background-position: center;
      }

      .swiper-slide:nth-of-type(3) {
        background: url("https://images.unsplash.com/photo-1618162005147-27970419d418?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1007&q=80");
        background-size: cover;
        background-position: center;
      }
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
      color: rgb(55, 10, 107);
      transition: 0.3s;
    }
    .swiper-button-prev:hover:after,
    .swiper-button-next:hover:after {
      text-shadow: 0 0 5px rgb(236, 231, 231);
      font-size: 3em;
    }
    .swiper-pagination-bullet {
      background: rgb(235, 10, 10);
      border: 2px solid rgb(22, 10, 10);
      transform: scale(1.2);
      margin: 10px !important;
    }
  }
}
.contacts {
  width: 100%;
  height: 573px;
  border: 2px solid red;
  background-color: #e27866;
  justify-content: center;

  .tab17 {
    width: 100%;
    height: 25%;
    color: white;
    line-height: 80px;
    font-family: montserrat;

    h3 {
      font-size: 36px;
      text-align: center;
      margin-top: 40px;
      font-weight: 500;
    }

    p {
      font-size: 14px;
      text-align: center;
    }
  }
  .inputfrmsld8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*max-width: 360px;*/
    width: 390px;
    min-width: 360px;
    height: 300px;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;

    .formtab17 {
      width: 100%;
      height: 200px;
      /*background-color: white;*/
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 10px;

      input {
        width: 75%;
        border: none;
        border-bottom: 2px solid rgba(28, 28, 28, 0.6);
        height: 40px;
        font-family: montserrat;
        font-size: 12px;
      }
    }
    .inputs {
      display: flex;
      width: 300px;
      align-items: center;
      justify-content: left;
      font-family: montserrat;
      margin-bottom: 30px;
      font-size: 9px;
      font-weight: 600;

      input {
        appearance: none;
        width: 15px;
        height: 15px;
        border: 1px solid #41d395;
        border-radius: 50%;
        margin: 5px;

        position: relative;
      }

      input:before {
        position: absolute;
        top: 45%;
        left: 45%;
        content: "";
        width: 0%;
        height: 0%;
        background: #41d395;
        border-radius: 50%;
        transition: 1s;
      }

      input:checked:before {
        top: 23%;
        left: 28%;
        width: 50%;
        height: 50%;
      }

      input:checked {
        color: #41d395;
      }
    }

    button {
      width: 40%;
      height: 50px;
      background-color: #41d395;
      font-family: montserrat;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      line-height: 40px;
      border-radius: 10px;
      color: white;
      margin-bottom: 20px;
    }
  }
}

.social2 {
  background: #1c1c1c;
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  height: 124px;
  justify-content: space-between;
  .linkai {
    width: 400px;
    align-items: center;
    justify-items: center;
    margin-top: 45px;
    font-size: 13px;
    padding-left: 30px;

    p {
      font-size: 20px;
      opacity: 0.6;
      color: rgba(255, 255, 255, 0.5);
      font-family: montserrat;
    }
  }
  .socnet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 100%;
    margin-right: 50px;
    margin-left: 100px;
    .Img {
      height: 20px;
      width: 20px;
      background-repeat: no-repeat;
      background-size: contain;
      &.Social1 {
        background-image: url($fbs-photo);
      }
      &.Social2 {
        background-image: url($instas-photo);
      }
      &.Social3 {
        background-image: url($tws-photo);
      }
      &.Social4 {
        background-image: url($pints-photo);
      }
    }
  }
}
