$navimg-photo: "../images/cheshire-county-hygiene-services.png";
$articleimg-photo: "../images/chessbig.png";
$backsld1-photo: "../images/sld1.png";
$backsld3-photo: "../images/sld3.png";
$avatimgs-photo: "../images/avatars.png";
$fbsld2-photo: "../images/fbb.png";
$instasld2-photo: "../images/instab.png";
$twsld2-photo: "../images/twb.png";
$pintbsld2-photo: "../images/pintb.png";
$cursor1-photo: "../images/cursor1.png";
$visa-photo: "../images/visa.png";
$flw-photo: "../images/flw.png";
$rew-photo: "../images/rew.png";
$fbs-photo: "../images/fbs.png";
$instas-photo: "../images/instas.png";
$tws-photo: "../images/tws.png";
$pints-photo: "../images/pints.png";
$tab4-photo: "../images/tab4.png";
$tab5-photo: "../images/tab5.png";
$tab6-photo: "../images/tab6.png";
$But-color: rgba(0, 123, 255, 255);
$font: "montserrat";
