$navimg-photo: "../images/cheshire-county-hygiene-services.png";
$articleimg-photo: "../images/chessbig.png";
$backsld1-photo: "../images/sld1.png";
$fbsld2-photo: "../images/FB.png";
$instasld2-photo: "../images/Insta.png";
$twsld2-photo: "../images/TW.png";
$But-color: rgba(0, 123, 255, 255);
